*{
    box-sizing: border-box;
}
body{
    background-image:url(https://i.pinimg.com/736x/44/d8/03/44d8039599e2c955b2feb49bb2385dd3.jpg);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
}
.parent{
    background-color: rgba(224, 224, 224, 0.9);
    margin: 0;
    border-radius:10px;
    display:grid;
    grid-template-areas: "header header" "main aside" "footer footer";
    grid-template-rows: 150px 1fr 170px;
    grid-template-columns: 5fr 1fr;
    border: 3px solid grey;
}
header{
    grid-area: header;
    background-color: rgba(127, 126, 126, 0.7);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    text-align: center;
    border-bottom: 3px solid grey;
}
aside{
    grid-area: aside;
    padding:15px;
    text-align: center;
}
main{
    grid-area: main;
    text-align: center;
    border-right: 3px solid grey;
    padding-bottom: 50px;
}
footer{
    grid-area: footer;
    background-color: rgba(127, 126, 126, 0.7);
    padding:15px;
    text-align: center;
    border-top: 3px solid grey;
}
.nav{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap:15px;
    list-style-type: none;
}
.nav img{
    width: 60px;
    height: 60px;
    border-radius: 12px;
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 70px;
    font-style: italic;
}
h2{
    font-size: 40px;
}
section p{
    font-size: 15px;
}
#welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    background-color: rgb(128, 128, 128);
}
aside p{
    
    padding: 10px;
    color: #6b6b6b;
    line-height: 32px;
    word-spacing: 10px;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.content img{
    width: 280px;
    height: 200px;
    border: 2px solid rgb(195, 203, 203);
    border-radius: 12px;
    float:left;
    margin-right: 5px;
}
h3{
    font-size: 21px;
    font-family: serif;
    font-style: italic;
}
.textt{
    font-size: 14px;
}
.site{
    display: flex;
    align-items: center;
    background-color: rgba(224, 222, 222, 0.9);    
    padding: 25px;
    width: 520px;
    height: 250px;
    border: 3px solid rgb(195, 203, 203);
    border-radius: 10px;
    box-shadow: 3px 3px rgb(195, 194, 194);
    transition: transform 0.3s ease;
    clear:both;
    
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: brown;
}
.btn{
    border: 2px solid rgb(195, 203, 203);
    border-radius: 5px;
    background-color: #798493;
    padding:12px 20px;
    width: 80px;
    height: 30px;
    color: rgb(251, 249, 249);
    
}
.btn:hover{
    background-color: #465160;
    color: rgb(251, 249, 249);
}
.site:hover{
    transform: translateY(-5px);
}